@charset "UTF-8"; 
h1{
    font-weight: 700;/*文字を太文字に*/
}
h2{
    font-size: 1.25em;/*サイズ大きめに*/
}
body{
    background-color: #93DBDA;
}
main{
    padding: 40px 80px;
    border: #149C99 2px solid;
    background-color: white;
}
photo{
    float: left;
    margin-right: 30px;
}
btn{
    -webkit-appearance:none;
    margin: 5px;
    width: 100px;
    height 40px;
    padding: 10px;
    font-size: 15px;
}
btn:hover{
    opacity:0.7;
}
btn:active{
    color:white;
}
btn-submit{
    background-color: silver;
}
